<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta property="og:description" content="The source for Pokémon GO info! Evolutions, stats, moves and more." />
    <meta property="og:title" content="{{name_cap}} | PoGoDex | Pokemon GO Stats and Information" />
    <meta name="Description" CONTENT="The source for {{name_cap}} Pokémon GO info! Evolutions, stats, moves and more.">
    <title>{{name}} | PoGoDex | Pokemon GO Stats and Information</title>
  </head>
  <body>
    {{{header}}}
    {{{left_nav}}}
    <div id="content_wrapper">
      <div id="article_contents">
        {{{content}}}
      </div>
      {{{footer}}}
    </div>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80936410-1', 'auto');
    ga('send', 'pageview');

  </script>
</html>