<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
<meta property="og:description" content="{{name_clean}} Pokemon GO evolution, moves, stats, and info. Now including live Gen 4 Pokemon!" />
    <meta property="og:title" content="{{name_clean}} Pokemon GO | PoGoDex" />
    <meta name="Description" CONTENT="{{name_clean}} Pokemon GO evolution, moves, stats, and info. Now including live Gen 4 Pokemon!">
    <title>{{name_clean}} Pokemon GO | PoGoDex</title>
  </head>
  <body>
    {{{header}}}
    {{{left_nav}}}
    <div id="content_wrapper">
      <div id="pk_sprite_wrapper">
        <div id="pk_sprite_sphere_wrapper">
          <div id="pk_sprite_sphere"></div>
          <div id="pk_sprite_sphere_dot"></div>
        </div>
        <img id="pk_profile_sprite" src="/images/pokemon_icons/pokemon_icon_{{id_pad}}_{{form}}.png" />
      </div>
      <div id="pk_contents">
        <div id="pk_name">{{name_clean}}</div>
        <div id="pk_health_bar"></div>
        <div id="pk_health">HP {{stats.hp}} / {{stats.hp}}</div>
        <div id="pk_info">
          <div class="pk-info-item">
            <div class="pk-info-item-text">{{{type}}}</div>
            <div class="pk-info-item-title">Type</div>
          </div>
          <div class="pk-info-item">
            <div class="pk-info-item-text">{{stats.weight}} <span class="pk-stat-unit">kg</span></div>
            <div class="pk-info-item-title">Weight</div>
          </div>
          <div class="pk-info-item">
            <div class="pk-info-item-text">{{stats.height}} <span class="pk-stat-unit">m</span></div>
            <div class="pk-info-item-title">Height</div>
          </div>
        </div>
        <div id="pk_info">
          <div class="pk-combat-info-item">
            <div class="pk-combat-info-item-text">{{stats.attack}}</div>
            <div class="pk-info-item-title">Attack</div>
          </div>
          <div class="pk-combat-info-item">
            <div class="pk-combat-info-item-text">{{stats.defense}}</div>
            <div class="pk-info-item-title">Defense</div>
          </div>
        </div>
        <div id="pk_upgrade_info">
          <div class="pk-upgrade-info-item">
            <div class="pk-upgrade-info-item-text cp-upgrade">{{stats.cp}}</div>
            <div class="pk-upgrade-info-item-title">Max CP</div>
          </div>
          {{#if evolution}}
          <div class="pk-upgrade-info-item">
            <div class="pk-upgrade-info-item-text">{{evolution_cost}}</div>
            <div class="pk-upgrade-info-item-title">{{evolution.candy}} CANDIES</div>
          </div>
          {{/if}}
        </div>
        <div id="pk_basic_move_info">
          <div class="pk-moves-info-title">Basic Attacks</div>
          {{#quick_moves}}
          <div class="pk-move-item">
            <span class="pk-move-title">{{name}}</span>
            <span class="pk-move-type {{type}}">{{type}}</span>
            <span class="pk-move-damage">{{power}}</span>
          </div>
          {{/quick_moves}}
        </div>
        <div id="pk_special_move_info">
          <div class="pk-moves-info-title">Special Attacks</div>
          {{#special_moves}}
          <div class="pk-move-item">
            <div class="pk-move-title">{{name}}</div>
            <div class="pk-move-cost">
              {{#energy_array}}<div class="pk-move-cost-item" style="width:{{percent}}px;"></div>{{/energy_array}}
            </div>
            <span class="pk-move-type {{type}}">{{type}}</span>
            <span class="pk-move-damage">{{power}}</span>
          </div>
          {{/special_moves}}
        </div>

        {{#if evolution}}
        <div id="pk_evolve_info">
          <div class="pk-evolve-info-title">Evolutions</div>
          {{#evolution}}
          <a href="/pokemon/{{name}}" class="pk-evolve-info-item">
            <div>
              <img class="pk-sprite" src="/images/pokemon_icons/pokemon_icon_{{id}}_{{form}}.png">
            </div>
            <div class="pk-evolve-info-item-title">{{name}}</div>
          </a>
          {{/evolution}}
        </div>
        {{/if}}
      </div>
      {{{footer}}}
    </div>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80936410-1', 'auto');
    ga('send', 'pageview');

  </script>
</html>