<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0;"/>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="header">
      <img id="header_logo" src="/images/go-logo-alt.png" />
    </div>
    <div id="content_wrapper">
      <div id="pk_sprite_wrapper">
        <div id="pk_sprite_sphere_wrapper">
          <div id="pk_sprite_sphere"></div>
          <div id="pk_sprite_sphere_dot"></div>
        </div>
        <img id="pk_profile_sprite" src="/images/sprites/{{name}}.png" />
      </div>
      <div id="pk_contents">
        <div id="pk_name">{{name}}</div>
        <div id="pk_health_bar"></div>
        <div id="pk_health">HP {{stats.hp}} / {{stats.hp}}</div>
        <div id="pk_info">
          <div class="pk-info-item">
            <div class="pk-info-item-text">{{type}}</div>
            <div class="pk-info-item-title">Type</div>
          </div>
          <div class="pk-info-item">
            <div class="pk-info-item-text">{{stats.weight}} <span class="pk-stat-unit">kg</span></div>
            <div class="pk-info-item-title">Weight</div>
          </div>
          <div class="pk-info-item">
            <div class="pk-info-item-text">{{stats.height}} <span class="pk-stat-unit">m</span></div>
            <div class="pk-info-item-title">Height</div>
          </div>
        </div>
        <div id="pk_upgrade_info">
          <div class="pk-upgrade-info-item">
            <div class="pk-upgrade-info-item-text cp-upgrade">+{{stats.cp}} CP</div>
            <div class="pk-upgrade-info-item-title">CP Per Upgrade</div>
          </div>
          {{#if evolution}}
          <div class="pk-upgrade-info-item">
            <div class="pk-upgrade-info-item-text">{{evolution_cost}}</div>
            <div class="pk-upgrade-info-item-title">{{evolution.candy}} CANDIES</div>
          </div>
          {{/if}}
        </div>

        <!-- <br><br>

        ID: {{id}}

        <br><br>

        Type: {{#each type}}
          {{this}}
        {{/each}}

        <br><br>

        Stats: <br>{{#each stats}}
          {{@key}}: {{this}}
        {{/each}}

        <br><br>

        Stats (alternate way of accessing stats property):<br>
        {{#stats}}
          hp: {{hp}}
          attack: {{attack}}
          defense: {{defense}}
        {{/stats}}

        <br><br>

        Basic Moves:<br>
        {{#each quick_moves}}
          ID:{{id}}<br>
          Name: {{name}}<br><br>
        {{/each}}

        <br><br>

        Special Moves:<br>
        {{#each special_moves}}
          ID:{{id}}<br>
          Name: {{name}}<br><br>
        {{/each}}

        <br><br>

        Evolution:<br>
        {{#evolution}}
          ID: {{id}}<br>
          Name: {{name}}<br><br>
        {{/evolution}}

        <br><br>

        Evolution Cost:<br>
        {{evolution_cost}} -->
      </div>
    </div>
  </body>
</html>