<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="Description" CONTENT="The source for Pokémon GO info! Evolutions, stats, moves and more.">
    <title>{{name_cap}} | PoGoDex | Pokemon GO Stats and Information</title>
  </head>
  <body>
    <div id="header">
      <a href="/"><img id="header_logo" src="/images/go-logo-alt.png" /></a>
    </div>
    <div id="content_wrapper">
      <div id="pk_sprite_wrapper">
        <div id="pk_sprite_sphere_wrapper">
          <div id="pk_sprite_sphere"></div>
          <div id="pk_sprite_sphere_dot"></div>
        </div>
        <img id="pk_profile_sprite" src="/images/sprites/{{name}}.png" />
      </div>
      <div id="pk_contents">
        <div id="pk_name">{{name}}</div>
        <div id="pk_health_bar"></div>
        <div id="pk_health">HP {{stats.hp}} / {{stats.hp}}</div>
        <div id="pk_info">
          <div class="pk-info-item">
            <div class="pk-info-item-text">{{type}}</div>
            <div class="pk-info-item-title">Type</div>
          </div>
          <div class="pk-info-item">
            <div class="pk-info-item-text">{{stats.weight}} <span class="pk-stat-unit">kg</span></div>
            <div class="pk-info-item-title">Weight</div>
          </div>
          <div class="pk-info-item">
            <div class="pk-info-item-text">{{stats.height}} <span class="pk-stat-unit">m</span></div>
            <div class="pk-info-item-title">Height</div>
          </div>
        </div>
        <div id="pk_info">
          <div class="pk-combat-info-item">
            <div class="pk-combat-info-item-text">{{stats.attack}}</div>
            <div class="pk-info-item-title">Attack</div>
          </div>
          <div class="pk-combat-info-item">
            <div class="pk-combat-info-item-text">{{stats.defense}}</div>
            <div class="pk-info-item-title">Defense</div>
          </div>
        </div>
        <div id="pk_upgrade_info">
          <div class="pk-upgrade-info-item">
            <div class="pk-upgrade-info-item-text cp-upgrade">+{{stats.cp}} CP (+/-)</div>
            <div class="pk-upgrade-info-item-title">CP Per Upgrade</div>
          </div>
          {{#if evolution}}
          <div class="pk-upgrade-info-item">
            <div class="pk-upgrade-info-item-text">{{evolution_cost}}</div>
            <div class="pk-upgrade-info-item-title">{{evolution.candy}} CANDIES</div>
          </div>
          {{/if}}
        </div>
        <div id="pk_basic_move_info">
          {{#quick_moves}}
          <div class="pk-move-item">
            <span class="pk-move-title">{{name}}</span>
            <span class="pk-move-type {{type}}">{{type}}</span>
            <span class="pk-move-damage">{{power}}</span>
          </div>
          {{/quick_moves}}
          <div class="pk-moves-info-title">Basic Attacks</div>
        </div>
        <div id="pk_special_move_info">
          {{#special_moves}}
          <div class="pk-move-item">
            <div class="pk-move-title">{{name}}</div>
            <div class="pk-move-cost">
              {{#energy_array}}<div class="pk-move-cost-item" style="width:{{percent}}px;"></div>{{/energy_array}}
            </div>
            <span class="pk-move-type {{type}}">{{type}}</span>
            <span class="pk-move-damage">{{power}}</span>
          </div>
          {{/special_moves}}
          <div class="pk-moves-info-title">Special Attacks</div>
        </div>

        {{#if evolution}}
        <div id="pk_evolve_info">
          {{#evolution}}
          <a href="/pokemon/{{name}}" class="pk-evolve-info-item">
            <div class="pk-sprite {{name}}"></div>
            <div class="pk-evolve-info-item-title">{{name}}</div>
          </a>
          {{/evolution}}
          <div class="pk-evolve-info-title">Evolutions</div>
        </div>
        {{/if}}
      </div>
      <div id="footer">
        Pokémon and its trademarks are ©1995-2016 Nintendo, Creatures, and GAMEFREAK. Pokemon GO and its trademarks are © Nintendo and Niantic.
  PoGo-Dex is a fansite. We are not official in any shape or form, nor affiliated, sponsored, or otherwise endorsed by Nintendo, Creatures, GAMEFREAK, or Niantic.
      </div>
    </div>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80936410-1', 'auto');
    ga('send', 'pageview');

  </script>
</html>